<div class="container main-container">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="/assets/logo_pagseguro.png"  alt="">
        </div>
    </div>

    <h1>Lista de Produtos</h1><br>   

    <div class="row text-center">
       

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100"  >
                
                <div  *ngFor="let produto of produtos">

                <img *ngIf="produto.id == 1" class="card-img-top" src="/assets/mouse.jpg" height="164px" width="253px" alt="">
                <img *ngIf="produto.id == 2" class="card-img-top" src="/assets/teclado.jpg" height="164px" width="253px" alt="">
             

                               
                <div class="card-body">
                    <h4 class="card-title">{{produto.descricao}}</h4>
                    <p class="card-text">{{produto.preco | currency }}</p>
                </div>
                <div class="card-footer">

                    <a class="btn btn-primary" [routerLink]="['/pagamentos/novo',produto.id]">PAGAR</a>
                </div>
            </div>


        </div>
        </div>


    </div>
   
</div>
